@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
      body {
        width: 100%;
        background-color: grey;
      }
      div{
      float:left;
      height:465px; 
      width:30%;
      padding:0 5px;
      margin: 5px;
      border: 2px solid black;
      }
      #column1{ 
      background-color: #a1edcc; 
      font-family: 'Comfortaa', cursive;
      } 
      #column2{ 
      background-color: #a0e9ed;
      font-family: 'Comfortaa', cursive;
      } 
      #column3{ 
      background-color: #f497f1; 
      font-family: 'Comfortaa', cursive;
      } 
      h2{ 
      color: #000000; 
      text-align:center;
      font-family: 'Comfortaa', cursive; 
      } 
      .a {
        float: right;
        margin-top: -2px;
        margin-right: -7px;
        width: 100px;
        height: 20px;
        align-items: center;
        text-align: center;
      }
      p {
        position: relative;
        top: 50px;
        height: 80%;
        text-align: justify;    
      }
      
      
      
      @media only screen and (max-width: 991px) {
  div {
  display: inline-block;
  width: 45%;
  height: 400px;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;    

}
#column3{ 
      background-color: #f497f1; 
      font-family: 'Comfortaa', cursive;
      width: 93%;
      height: 200px;
      margin: 5px;
      padding: 5px;
      } 
.a {
        float: right;
        margin-top: -7px;
        margin-right: -7px;
        width: 100px;
        height: 20px;
        align-items: center;
        text-align: center;
      }
p {
        position: relative;
        top: 50px;
        height: 80%;
        text-align: justify;    
      }
  }
  
  
  @media only screen and (max-width: 767px) {
  div {
  display: block;
  width: 95%;
  margin: 5px;
  height: auto;
  padding: 5px;
  border: 2px solid black;
  
}
#column3{ 
      background-color: #f497f1; 
      font-family: 'Comfortaa', cursive;
      width: 95%;A
      height: auto;
      margin: 5px;
      padding: 5px;
      } 

      p {
        position: relative;
        top: 20px;
        height: 80%;
        text-align: justify;    
      }
  }